@page
@model BankWebApp.Pages.Users.UserModel
@{
}

<div class="container white-widget pb-1 mt-5">
    <div class="d-flex justify-content-md-between mb-2">
        <h2 class="mt-3 pl-2-rem">Customer Page - @Model.userViewModel.UserName</h2>
        <a asp-page="/Users/Edit" asp-route-userId="@Model.userViewModel.Id" class="btn btn-primary">Edit User</a>
    </div>
    
    <hr class="mt-4" />
    <dl class="row mt-2 pl-2">
        <dt class="col-md-3 col-5 text-key">User Id</dt>
        <dd class="col-md-9 col-6 text-value">@Model.userViewModel.Id</dd>

        <dt class="col-md-3 col-5 text-key">Email</dt>
        <dd class="col-md-9 col-6 text-value">@Model.userViewModel.Email</dd>

        <dt class="col-md-3 col-5 text-key">Phone Number</dt>
        <dd class="col-md-9 col-6 text-value">@Model.userViewModel.PhoneNumber</dd>

        @foreach (var item in Model.userViewModel.Roles)
        {
            <dt class="col-md-3 col-5 text-key">Role</dt>
            <dd class="col-md-9 col-6 text-value">@item.Name</dd>
        }
     


       
    </dl>
</div>

