@using BankWebApp.Models
@using Microsoft.AspNetCore.Identity



@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!-- partial -->
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-sm-12">
                <div class="home-tab">
                    <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                        
                    </div>
                    <div class="tab-content tab-content-basic">
                        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                           

                            <div class="row">
                                <div class="col-xl-9 offset-xl-1 d-flex flex-column">


                                    <!-- Campaign banner card -->
                                    <div class="row flex-grow">
                                        <div class="col-12 grid-margin stretch-card">
                                            <div class="card card-rounded table-darkBGImg">
                                                <div class="card-body">
                                                    <div class="col-sm-8">
                                                        <h3 class="text-white upgrade-info mb-0">
                                                            Welcome to <span class="fw-bold">Scandinavia Bank - Admin Portal</span>
                                                        </h3>
                                                        <h4 class="text-white mt-1">Your top bank where money is <span class="fw-bold">free!</span></h4>
                                                        @if (SignInManager.IsSignedIn(User))
                                                        {
                                                            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-info upgrade-btn">Profile</a>
                                                        } else
                                                        {
                                                             <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-info upgrade-btn">Login!</a>
                                                        }

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- Market overview card -->
                                    <div class="row flex-grow">
                                        <div class="col-12 grid-margin stretch-card">
                                            <div class="card card-rounded">
                                                <div class="card-body">
                                                    <div class="d-sm-flex justify-content-between align-items-start">
                                                        <div>
                                                            <h4 class="card-title card-title-dash">Market Overview</h4>
                                                            <p class="card-subtitle card-subtitle-dash">Total number of all customers, accounts, and saldo</p>
                                                        </div>
                                                       
                                                    </div>
                                                    <div class="d-sm-flex align-items-center mt-1 justify-content-between">
                                                        <div class="d-sm-flex align-items-center mt-4 justify-content-between"><h2 class="me-2 fw-bold">$@Model.TotalOfAllAccounts</h2><h4 class="me-2">USD</h4><h4 class="text-success">Total Saldo</h4></div>
                                                        <div class="me-3"><div id="marketing-overview-legend"></div></div>
                                                    </div>
                                                    <div class="chartjs-bar-wrapper mt-3">
                                                        <canvas id="marketingOverview"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Countries overview card -->
                                    <div class="row flex-grow">
                                        <div class="col-12 grid-margin stretch-card">
                                            <div class="card card-rounded">
                                                <div class="card-body">
                                                    <div class="d-sm-flex justify-content-between align-items-start">
                                                        <div>
                                                            <h4 class="card-title card-title-dash">Countries Overview</h4>
                                                            <p class="card-subtitle card-subtitle-dash">Choose a country to see the top customers</p>
                                                        </div>
                                                    </div>
                                                    <div class="table-responsive  mt-1">
                                                        <table class="table select-table">
                                                            <thead>
                                                                <tr>


                                                                    <th>Country</th>
                                                                    <th>Customers</th>
                                                                    <th>Accounts</th>
                                                                    <th>Balance</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>

                                                                @foreach (var item in @Model.Countries)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <div class="d-flex">
                                                                                <img src=@item.CountryImage alt="">
                                                                                <div>
                                                                                    <h6>@item.CountryName</h6>
                                                                                </div>
                                                                            </div>
                                                                        </td>
                                                                        <td>
                                                                            <h6>@item.Customers</h6>
                                                                        </td>
                                                                        <td>
                                                                            <h6>@item.Accounts</h6>
                                                                        </td>
                                                                        <td>
                                                                            <h6>$ @item.Balance</h6>
                                                                        </td>
                                                                        <td>
                                                                            <a class="btn btn-primary text-white" asp-page="/Countries/Country" asp-route-countryName="@item.CountryName">Details</a>
                                                                        </td>
                                                                    </tr>

                                                                }
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Number of transactions card -->
                                    @*<div class="row flex-grow">
                                        <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                                            <div class="card card-rounded">
                                                <div class="card-body">
                                                    <div class="d-sm-flex justify-content-between align-items-start">
                                                        <div>
                                                            <h4 class="card-title card-title-dash">Number of transactions</h4>
                                                            <h5 class="card-subtitle card-subtitle-dash">Lorem Ipsum is simply dummy text of the printing</h5>
                                                        </div>
                                                        <div id="performance-line-legend"></div>
                                                    </div>
                                                    <div class="chartjs-wrapper mt-5">
                                                        <canvas id="performaneLine"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>